@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(100% 0.00011 271.152 / 9);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.606 0.25 292.717);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.606 0.25 292.717);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(21.033% 0.00588 285.832 / 0.842);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --select-color: #4d4d4e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

[data-sonner-toast][data-type="error"] {
  background-color: #fca5a5 !important;
  color: #7f1d1d !important;
  border: 1px solid #fca5a5 !important;
}

[data-sonner-toast][data-type="error"] [data-icon] {
  color: #7f1d1d !important;
}

[data-sonner-toast][data-type="success"] {
  background-color: #86efac !important;
  color: #14532d !important;
  border: 1px solid #86efac !important;
}

[data-sonner-toast][data-type="success"] [data-icon] {
  color: #14532d !important;
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: hsl(var(--primary));
  --rdp-background-color: hsl(var(--background));
  --rdp-selected-color: hsl(var(--primary-foreground));
  --rdp-today-color: hsl(var(--primary));
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
  border: 2px solid hsl(var(--primary));
  border-radius: 0.375rem;
}

.rdp-today .rdp-day_button {
  border: 2px solid var(--primary);
  color: var(--primary-foreground);
  color: var(--foreground);
}

.rdp-selected .rdp-day_button {
  background-color: var(--primary);
  border: none !important;
  font-weight: normal;
  color: white;
}

.rdp-disabled {
  position: relative;
}

.rdp-disabled .rdp-day_button {
  opacity: 0.5 !important;
  color: var(--foreground);
}

.rdp-disabled::before {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--primary);
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
  font-weight: bold;
}

.rdp-day_disabled,
.rdp-day_disabled:hover {
  color: hsl(var(--muted-foreground)) !important;
  opacity: 0.25 !important;
  cursor: not-allowed;
  background-color: transparent !important;
}

.rdp-button:not(.rdp-day_disabled):hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.rdp-day:not(.rdp-disabled):hover .rdp-day_button {
  transition: all 0.2s ease-in-out;
  background-color: var(--primary);
  color: white;
}

.rdp-caption_label {
  font-weight: 600;
  font-size: 1rem;
}

.rdp-button_previous svg,
.rdp-button_next svg {
  fill: var(--primary);
}

.rdp-month_caption {
  padding: 10px;
  text-transform: capitalize;
}

.rdp-button_previous:hover,
.rdp-button_next:hover {
  background-color: hsl(var(--primary) / 0.1);
}

.rdp-button_previous svg,
.rdp-button_next svg {
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(var(--primary)) !important;
}

.rdp-day_outside {
  opacity: 0.3;
}

.rdp-day_outside:focus {
  background-color: transparent;
}

#horarios-selector [data-slot="select-item"][data-disabled] {
  opacity: 0.25 !important;
  cursor: not-allowed !important;
  text-decoration: line-through;
  background-color: transparent !important;
  position: relative;
}

#horarios-selector [data-slot="select-item"][data-disabled]:hover {
  background-color: transparent !important;
  opacity: 0.25 !important;
}

#horarios-selector [data-slot="select-item"][data-disabled]::before {
  content: "";
  position: absolute;
  max-width: 50px;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--primary);
  transform: translateY(-50%);
}